@import 'responsive'

.basket
	margin-top: 62px

	&__item
		display: flex
		align-items: center
		padding: 7px 22px
		padding-right: 35px
		padding-bottom: 8px
		background-color: #fff
		margin-bottom: 22px
		+media(md)
			flex-direction: column
			padding: 15px 22px

	&__box
		display: flex	
		align-items: center
		+media(md)
			justify-content: center

		&--image
			img
				display: block

	&__col
		display: flex
		align-items: center
		&:first-child
			width: calc(100% - 496px)
			+media(md)
				width: initial
				margin-bottom: 15px
			+media(xxs)
				flex-direction: column
			.basket__box:nth-child(1)
				width: 105px

			.basket__box:nth-child(2)
				width: calc(100% - 105px)
				padding-left: 28px
				padding-right: 15px				
				font-size: 18px
				+media(sm)
					line-height: 1.5
					width: 100%			
				+media(xxs)
					text-align: center

		&:last-child
			width: 496px
			+media(md)
				width: auto
				flex-wrap: wrap
			.basket__box:nth-child(1)
				min-width: 278px
				max-width: 278px
				+media(md)
					margin: 0px auto
					margin-bottom: 20px

			.basket__box:nth-child(2)
				min-width: 215px
				max-width: 215px
				+media(md)
					margin: 0px auto
					margin-bottom: 15px

	&__single,
	&__sum
		font-size: 24px
		line-height: 1
		color: #1B58B1
		text-transform: uppercase
		text-align: center
		font-weight: 200

	&__single
		min-width: 148px
		max-width: 148px

	&__sum
		min-width: 180px
		max-width: 180px

	&__container
		display: flex
		max-width: 130px
		width: 100%	
		align-items: center
		background-color: #f4f4f4
		border-radius: 20px
		padding: 10px 10px
		padding-bottom: 9px
		input
			display: block	
			background-color: inherit
			border: none
			outline: none
			text-align: center
			max-width: 60px
			font-size: 18px
			color: #333	
			padding: 0 5px

	&__btn
		cursor: pointer
		display: block
		position: relative
		width: 25px
		height: 25px
		border: none
		background-color: inherit
		outline: none
		padding: 0px	
		&:after, 
		&:before
			content: ''
			position: absolute
			top: 0px
			bottom: 0px
			right: 0px
			left: 6px
			width: 12px
			height: 12px
			border-top: 1px solid #333
			border-left: 1px solid #333
			margin: auto
			transform: rotate(-45deg)

		&--increment
			transform: rotate(-180deg)
			margin-top: 1px

	&__close
		cursor: pointer
		position: relative
		min-width: 25px
		height: 25px
		display: flex
		justify-content: flex-end
		align-items: center
		background-color: #fff
		border: none
		outline: none
		padding: 0px
		margin-left: auto
		&:before, 
		&:after
			content: ''
			position: absolute
			left: 0px
			width: 25px
			height: 1px
			background-color: #e35959

		&:before
			bottom: 20px
			transform: rotate(45deg)
			transform-origin: 0 100%

		&:after
			top: 21px
			transform: rotate(-45deg)
			transform-origin: 0 0

	&__block
		font-size: 18px
		line-height: 1.2
		color: #000
		text-align: center
		padding-top: 22px	
		padding-bottom: 32px

	&__desc
		margin-bottom: 16px

	&__total
		font-size: 48px
		color: #1B58B1
		text-transform: uppercase
		font-weight: 200
		+media(sm)
			font-size: 38px